<div class="mt-4">
  <form [formGroup]="form">
    <mat-form-field appearance="outline"
                    class="w-100 mt-2">
      <mat-label>_name</mat-label>
      <input matInput
             formControlName="name">
      <mat-error *ngIf="contactMeForm['name'].hasError('required')">The name is required</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline"
                    class="w-100 mt-2">
      <mat-label>_email</mat-label>
      <input matInput
             formControlName="email">
      <mat-error *ngIf="contactMeForm['email'].hasError('required')">The email is required</mat-error>
      <mat-error *ngIf="contactMeForm['email'].hasError('email')">The email is mal formated</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline"
                    class="w-100 mt-2">
      <mat-label>_message</mat-label>
      <textarea matInput
                formControlName="message"
                rows="3"
                cols="40"></textarea>
      <mat-error *ngIf="contactMeForm['message'].hasError('required')">The message is required</mat-error>
    </mat-form-field>

    <button mat-raised-button
            [disabled]="form.invalid"
            color="primary"
            class="mt-2"
            (click)="onContactMe()">submit-message</button>
  </form>
</div>
