<div class="portfolio-container">
  <div class="portfolio-hello-container">
    <div class="portfolio-hello-container__block-name">
      <div class="portfolio-hello-container__block-name__hello">
        Hi all. I am
      </div>
      <div class="portfolio-hello-container__block-name__name">
        Gerson <br>
        Carrasco
      </div>
      <div class="portfolio-hello-container__block-name__role">
        > Front-end Developer
      </div>
    </div>

    <div class="portfolio-hello-container__block-code mt-5">
      <div class="portfolio-hello-container__block-code__comment">
        // find my profile on Github:
      </div>

      <div class="portfolio-hello-container__block-code__code mt-4">
        <p class="attribute-code d-inline-block">const</p>
        <p class="variable-name d-inline-block">githubLink</p>
        <p class="equals d-inline-block">=</p>
        <p class="github-link d-inline-block">"https://github.com/GersonCarrascoL"</p>
      </div>
    </div>
  </div>
</div>
