<section class="portfolio-about-me-snippets">

  <div class="row h-100 w-100">
    <div class="col-12">
      <div class="portfolio-about-me-snippets__header">
        <div class="user">
          <div class="avatar">
            <mat-icon>person</mat-icon>
          </div>
          <div class="user-detail">
            <div class="name">@username</div>
            <div class="date">Created 5 months ago</div>
          </div>
        </div>
        <div class="detail-star">
          <div class="container-icon">
            <mat-icon class="icon">comment</mat-icon>
            <span class="text">details</span>
          </div>
          <div class="container-icon">
            <mat-icon class="icon">star</mat-icon>
            <span class="text">stars</span>
          </div>
        </div>
      </div>

      <div class="portfolio-about-me-snippets__code">
        <p class="function d-inline-block">function</p>
        <p class="variable-name d-inline-block pl-2">initializeModelChunk</p>
        <p class="sign d-inline-block">
          < </p>
            <p class="variable-name d-inline-block">T</p>
            <p class="sign d-inline-block">></p>
            <p class="sign d-inline-block">(</p>
            <p class="variable-name d-inline-block">chunk</p>
            <p class="sign d-inline-block">):</p>
            <p class="variable-name d-inline-block pl-2">ResolvedModelChunk</p>
            <p class="sign d-inline-block">):</p>
            <p class="variable-name d-inline-block">T</p>
            <p class="sign d-inline-block pl-2">{{'{'}}</p>
            <br>
            <p class="attribute-code d-inline-block pl-3">const</p>
            <p class="variable-name d-inline-block pl-2">value</p>
            <p class="sign d-inline-block">:</p>
            <p class="type-variable d-inline-block">T</p>
            <p class="sign d-inline-block pl-2">=</p>
            <p class="attribute-code d-inline-block pl-2">parseModel</p>
            <p class="sign d-inline-block">(</p>
            <p class="variable-name d-inline-block">chunk</p>
            <p class="sign d-inline-block">.</p>
            <p class="variable-name d-inline-block">_response</p>
            <p class="sign d-inline-block">,</p>
            <p class="variable-name d-inline-block pl-2">chunk</p>
            <p class="sign d-inline-block">.</p>
            <p class="variable-name d-inline-block">_value</p>
            <p class="sign d-inline-block">);</p>
            <br>
            <p class="attribute-code d-inline-block pl-3">const</p>
            <p class="variable-name d-inline-block pl-2">initializeChunk</p>
            <p class="sign d-inline-block">:</p>
            <p class="type-variable d-inline-block">InitializedChunk</p>
            <p class="sign d-inline-block">
              < </p>
                <p class="variable-name d-inline-block">T</p>
                <p class="sign d-inline-block">></p>
                <p class="sign d-inline-block pl-2">=</p>
                <p class="sign d-inline-block pl-2">(</p>
                <p class="variable-name d-inline-block">chunk</p>
                <p class="sign d-inline-block">:</p>
                <p class="variable-name d-inline-block">any</p>
                <p class="sign d-inline-block">);</p>
                <br>
                <p class="variable-name d-inline-block pl-3">initializeChunk</p>
                <p class="sign d-inline-block">.</p>
                <p class="variable-name d-inline-block">_status</p>
                <p class="sign d-inline-block pl-2">=</p>
                <p class="variable-name d-inline-block pl-2">INITIALIZED</p>
                <p class="sign d-inline-block">;</p>
                <br>
                <p class="attribute-code d-inline-block pl-3">return</p>
                <p class="variable-name d-inline-block pl-2">value</p>
                <p class="sign d-inline-block">;</p>
                <br>
                <p class="sign d-inline-block">{{'}'}}</p>
      </div>
    </div>

    <div class="col-12">
      <div class="portfolio-about-me-snippets__header">
        <div class="user">
          <div class="avatar">
            <mat-icon>person</mat-icon>
          </div>
          <div class="user-detail">
            <div class="name">@username</div>
            <div class="date">Created 5 months ago</div>
          </div>
        </div>
        <div class="detail-star">
          <div class="container-icon">
            <mat-icon class="icon">comment</mat-icon>
            <span class="text">details</span>
          </div>
          <div class="container-icon">
            <mat-icon class="icon">star</mat-icon>
            <span class="text">stars</span>
          </div>
        </div>
      </div>

      <div class="portfolio-about-me-snippets__code">
        <p class="function d-inline-block">function</p>
        <p class="variable-name d-inline-block pl-2">initializeModelChunk</p>
        <p class="sign d-inline-block">
          < </p>
            <p class="variable-name d-inline-block">T</p>
            <p class="sign d-inline-block">></p>
            <p class="sign d-inline-block">(</p>
            <p class="variable-name d-inline-block">chunk</p>
            <p class="sign d-inline-block">):</p>
            <p class="variable-name d-inline-block pl-2">ResolvedModelChunk</p>
            <p class="sign d-inline-block">):</p>
            <p class="variable-name d-inline-block">T</p>
            <p class="sign d-inline-block pl-2">{{'{'}}</p>
            <br>
            <p class="attribute-code d-inline-block pl-3">const</p>
            <p class="variable-name d-inline-block pl-2">value</p>
            <p class="sign d-inline-block">:</p>
            <p class="type-variable d-inline-block">T</p>
            <p class="sign d-inline-block pl-2">=</p>
            <p class="attribute-code d-inline-block pl-2">parseModel</p>
            <p class="sign d-inline-block">(</p>
            <p class="variable-name d-inline-block">chunk</p>
            <p class="sign d-inline-block">.</p>
            <p class="variable-name d-inline-block">_response</p>
            <p class="sign d-inline-block">,</p>
            <p class="variable-name d-inline-block pl-2">chunk</p>
            <p class="sign d-inline-block">.</p>
            <p class="variable-name d-inline-block">_value</p>
            <p class="sign d-inline-block">);</p>
            <br>
            <p class="attribute-code d-inline-block pl-3">const</p>
            <p class="variable-name d-inline-block pl-2">initializeChunk</p>
            <p class="sign d-inline-block">:</p>
            <p class="type-variable d-inline-block">InitializedChunk</p>
            <p class="sign d-inline-block">
              < </p>
                <p class="variable-name d-inline-block">T</p>
                <p class="sign d-inline-block">></p>
                <p class="sign d-inline-block pl-2">=</p>
                <p class="sign d-inline-block pl-2">(</p>
                <p class="variable-name d-inline-block">chunk</p>
                <p class="sign d-inline-block">:</p>
                <p class="variable-name d-inline-block">any</p>
                <p class="sign d-inline-block">);</p>
                <br>
                <p class="variable-name d-inline-block pl-3">initializeChunk</p>
                <p class="sign d-inline-block">.</p>
                <p class="variable-name d-inline-block">_status</p>
                <p class="sign d-inline-block pl-2">=</p>
                <p class="variable-name d-inline-block pl-2">INITIALIZED</p>
                <p class="sign d-inline-block">;</p>
                <br>
                <p class="attribute-code d-inline-block pl-3">return</p>
                <p class="variable-name d-inline-block pl-2">value</p>
                <p class="sign d-inline-block">;</p>
                <br>
                <p class="sign d-inline-block">{{'}'}}</p>
      </div>
    </div>
  </div>
</section>
