.portfolio-about-me-snippets {
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
  height:100%;
  margin: 20px 0;

  &__header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-bottom: 10px;

    .user {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      .avatar{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:center;
        height: 32px;
        width: 32px;
        border-radius: 50%;
        border:1px solid #1E2D3D;
      }
      .user-detail {
        padding-left: 5px;

        .name {
          color: #5565E8;
        }

        .date {
          color: #607B96;
        }
      }
    }

    .detail-star {
      display: flex;
      flex-direction: row;
      align-items: center;
      .container-icon {
        display: flex;
        align-items: center;
        .icon {
          color: #607B96;
        }
        .text {
          padding-left: 5px
        }

        &:nth-child(2) {
          padding-left: 10px
        }
      }
    }
  }

  &__code {
    height: auto;
    width: 100%;
    background-color: #011221;
    border: 1px solid #1E2D3D;
    border-radius: 15px;
    padding: 16px;
    margin-bottom: 20px;

    p {
      margin: 0;
    }

    .function {
      color: #E99287;
    }

    .attribute-code {
      color: #C98BDF;
    }

    .type-variable {
      color: #FEA55F;
    }

    .variable-name {
      color: #5565E8;
    }

    .equals{
      color: #C98BDF;
    }

    .text-code{
      color: #FEA55F;
    }

    .sign {
      color: #607B96;
    }
  }
}
