<div class="text-center">
  <div class="title-success mt-4">
    <ng-container *ngIf="isSuccess">
      Thank you! 🤟🏼
    </ng-container>
    <ng-container *ngIf="!isSuccess">
      Ups, something went wrong! 🤦🏻‍♂️
    </ng-container>
  </div>
  <div class="message-success mt-3">
    <ng-container *ngIf="isSuccess">
      Your message has been accepted. You will receive answer really soon!
    </ng-container>
    <ng-container *ngIf="!isSuccess">
      Try again!
    </ng-container>
  </div>
  <button mat-raised-button
          color="primary"
          class="mt-3"
          (click)="onResend()">send-new-message</button>
</div>
