.drawer-find-me {
  border-top: 1px solid #1E2D3D;
  width: 100%;
  position: absolute;
  bottom: 0;

  &__social-media {
    border-left: 1px solid #1E2D3D;
    text-align: center;
    padding: 8px 0 0 0;
  }
}
