$portfolio-primary: (
    50 : #e4e6e8,
    100 : #bcc0c5,
    200 : #8f969e,
    300 : #626c77,
    400 : #404d5a,
    500 : #1e2d3d,
    600 : #1a2837,
    700 : #16222f,
    800 : #121c27,
    900 : #0a111a,
    A100 : #5b97ff,
    A200 : #2876ff,
    A400 : #0059f4,
    A700 : #004fda,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$portfolio-accent: (
    50 : #eceff2,
    100 : #cfd7e0,
    200 : #b0bdcb,
    300 : #90a3b6,
    400 : #788fa6,
    500 : #607b96,
    600 : #58738e,
    700 : #4e6883,
    800 : #445e79,
    900 : #334b68,
    A100 : #b6d6ff,
    A200 : #83baff,
    A400 : #509dff,
    A700 : #368fff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$background-dark: #010C15;
