<mat-drawer-container class="h-100"
                      [hasBackdrop]="false">
  <mat-drawer-content>
    <section class="section-base-portfolio">
      <div class="portfolio-base">
        <mat-drawer #drawer
                    [mode]="'over'">
          <portfolio-drawer (closeNav)="drawer.toggle()"></portfolio-drawer>
        </mat-drawer>
        <portfolio-navbar (openNav)="drawer.toggle()"></portfolio-navbar>
        <router-outlet></router-outlet>
      </div>
    </section>
  </mat-drawer-content>
</mat-drawer-container>
