<mat-drawer-container class="h-100"
                      [hasBackdrop]="true">
  <mat-drawer #drawer
              [mode]="'over'">I'm a drawer</mat-drawer>
  <mat-drawer-content>
    <section class="section-base-portfolio">
      <div class="portfolio-base">
        <portfolio-navbar (openNav)="drawer.toggle()"></portfolio-navbar>
        <div class="portfolio-container">
          <router-outlet></router-outlet>
        </div>
      </div>
    </section>
  </mat-drawer-content>
</mat-drawer-container>
