<div class="project-card__container">
  <div class="project-card__image"
       style="background-image: url({{project.image}})">
    <div class="tag">
      <ng-container [ngSwitch]="project.tag">
        <ng-container *ngSwitchCase="'angular'">
          <fa-icon [icon]="faAngular"></fa-icon>
        </ng-container>
        <ng-container *ngSwitchCase="'android'">
          <fa-icon [icon]="faAndroid"></fa-icon>
        </ng-container>
        <ng-container *ngSwitchCase="'php'">
          <fa-icon [icon]="faPhp"></fa-icon>
        </ng-container>
        <ng-container *ngSwitchCase="'nodejs'">
          <fa-icon [icon]="faNode"></fa-icon>
        </ng-container>
        <ng-container *ngSwitchCase="'flutter'">
          <fa-icon [icon]="faMobile"></fa-icon>
        </ng-container>
      </ng-container>
    </div>
  </div>
  <div class="project-card__description">
    <span class="name-project">{{project.name}}</span> / <span class="type-project">{{project.type}}</span>
    <p>
      Architecture: {{project.architecture}}
    </p>
    <p>
      {{project.description}}
    </p>
  </div>
</div>
