<div class="drawer-navbar row px-2 pt-3 pb-2 m-0">
  <div class="col">
    gerson-carrasco
  </div>
  <div class="col-2 text-right">
    <mat-icon color="accent"
              (click)="onClose()">close</mat-icon>
  </div>
</div>
<div class="drawer-list-item">
  <ng-container *ngFor="let path of routerPaths">
    <div class="drawer-item row m-0 pl-3 py-2"
         [routerLink]="[path.url]"
         routerLinkActive="router-link-active"
         (click)="onClose()">
      {{ path.name }}
    </div>
  </ng-container>
</div>

<div class="drawer-find-me">
  <div class="row m-0">
    <div class="col py-2">
      find me in:
    </div>
    <div class="col-2 drawer-find-me__social-media"
         (click)="onClickSocialMedia('facebook')">
      <fa-icon [icon]="faFacebookF"></fa-icon>
    </div>
    <div class="col-2 drawer-find-me__social-media"
         (click)="onClickSocialMedia('github')">
      <fa-icon [icon]="faGithub"></fa-icon>
    </div>
    <div class="col-2 drawer-find-me__social-media"
         (click)="onClickSocialMedia('linkedin')">
      <fa-icon [icon]="faLinkedin"></fa-icon>
    </div>
  </div>
</div>
