<div class="portfolio-container-full portfolio-contact-me-container">
  <div class="h-100 d-none d-md-block">
    <div class="row h-100 m-0">
      <div class="portfolio-contact-me-container__sidebar-desktop col-md-3 p-0">
        <div class="row m-0 h-100">
          <div class="portfolio-contact-me-container__icon-list-desktop col-2 p-0 h-100">
            <portfolio-icon-side-bar></portfolio-icon-side-bar>
          </div>
          <div class="col-9">
            asdasd
          </div>
        </div>
      </div>
      <div class="col-md-9">
        hola ancho 9
      </div>
    </div>
  </div>
  <div class="mobile d-block d-md-none">
    <div class="portfolio-contact-me-container__title pb-4 px-4">
      _contact-me
    </div>
    <portfolio-accordion [collapsing]="collapsing">

      <accordion-item title="contacts">
        <ng-template accordionContent>
          <div class="px-4 py-2">
            A simple and customizable accordion component made with
            functionalities provided by angular without having to use any 3rd
            party libraries. Ideal when you want custom basic accordion.
          </div>
        </ng-template>
      </accordion-item>

      <accordion-item title="find-me-also-in">
        <ng-template accordionContent>
          <div class="px-4 py-2">
            <ng-container *ngFor="let item of personalLinksFindMe">
              <portfolio-links-find-me [text]="item.text"
                                       [link]="item.link"></portfolio-links-find-me>
            </ng-container>

          </div>
        </ng-template>
      </accordion-item>
    </portfolio-accordion>

    <div class="portfolio-contact-me-container__info px-4">
      <ng-container *ngIf="!messageSend">
        <contact-me-form [form]="contactForm"
                         (onSubmit)="onSubmitForm($event)"></contact-me-form>
      </ng-container>
      <ng-container *ngIf="messageSend">
        <contact-me-success (resendNewMessage)="onResendMessage()"></contact-me-success>
      </ng-container>
    </div>
  </div>
</div>

<find-me-in></find-me-in>
