.portfolio-about-me-container {
  padding-bottom: 40px !important;

  &__info {
    max-height: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    background-color: #010c15;
  }

  &__sidebar-desktop {
    border-right: 1px solid #1E2D3D;
  }

  &__icon-list-desktop {
    border-right: 1px solid #1E2D3D;
  }

  .mobile {
    flex-direction: column;
    overflow: scroll;
    max-height: 100%;
    height: 100%;
  }
}
