<div class="portfolio-container-full portfolio-about-me-container">
  <div class="portfolio-about-me-container__title pb-4 px-4">
    _about-me
  </div>
  <portfolio-accordion [collapsing]="collapsing">
    <accordion-item title="personal-info">
      <ng-template accordionContent>
        <div class="px-4 py-2">
          <ng-container *ngFor="let item of personalInfoDirectoryItems">
            <portfolio-directory-item [text]="item.text"
                                      [icon]="item.icon"
                                      [color]="item.color"
                                      (onClickItem)="onClickItemPersonalInfo($event)"></portfolio-directory-item>
          </ng-container>
        </div>
      </ng-template>
    </accordion-item>

    <accordion-item title="professional-info">
      <ng-template accordionContent>
        <div class="px-4 py-2">
          A simple and customizable accordion component made with
          functionalities provided by angular without having to use any 3rd
          party libraries. Ideal when you want custom basic accordion.
        </div>
      </ng-template>
    </accordion-item>

    <accordion-item title="hobbies">
      <ng-template accordionContent>
        <div class="px-4 py-2">
          A simple and customizable accordion component made with
          functionalities provided by angular without having to use any 3rd
          party libraries. Ideal when you want custom basic accordion.
        </div>
      </ng-template>
    </accordion-item>

    <accordion-item title="contacts">
      <ng-template accordionContent>
        <div class="px-4 py-2">
          A simple and customizable accordion component made with
          functionalities provided by angular without having to use any 3rd
          party libraries. Ideal when you want custom basic accordion.
        </div>
      </ng-template>
    </accordion-item>
  </portfolio-accordion>

  <div class="portfolio-about-me-container__info px-4">
    <about-me-info [type]="type"></about-me-info>
  </div>
</div>

<find-me-in></find-me-in>
