.directory-item {
  &:hover {
    background-color: #010c15;
  }
}
.white {
  color: white;
}

.red {
  color: #E99287;
}

.black {
  color: black;
}

.green {
  color: #43D9AD;
}

.blue {
  color: #3A49A4;
}
