<ng-container [ngSwitch]="type">
  <ng-container *ngSwitchCase="'bio'">
    <div class="info-title">
      <span class="info-directory">// personal-info </span><span class="info-subdirectory">/ bio</span>
    </div>
    <div class="info-description">
      I have 5 years of experience in web development lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
      nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat officia deserunt mollit anim id est laborum.
    </div>
  </ng-container>

  <ng-container *ngSwitchCase="'interests'">
    <div class="info-title">
      <span class="info-directory">// personal-info </span><span class="info-subdirectory">/ interests</span>
    </div>
    <div class="info-description">
      My Interests
    </div>
  </ng-container>

  <ng-container *ngSwitchCase="'education'">
    <div class="info-title">
      <span class="info-directory">// personal-info </span><span class="info-subdirectory">/ education</span>
    </div>
    <div class="info-description">
      My education
    </div>
  </ng-container>
</ng-container>
